.cards{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    padding: 20px;
    margin: 20px 0px 0px 45px;
    
}

.cards-card{
    border: 1px solid #808080;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px 10px;
    margin-top: 20px;
    width: 300px;
}

.cards-card h1{
    font-size: 20px;
    color: #8b008b;
    margin-right: 10px;
}

span{
    font-weight: bold;
}